body {
    margin: 0;
    
}


nav {
    display: flex;     
    align-items: center;
    justify-content: space-between;
}

.logo_and_brand {
    display: flex;
    gap: 35%;
    margin-left: 150px;
    align-items: center;

}

.logo_and_brand a {
    text-decoration: none;
}

.brand {
    font-weight: bold;
    font-size: 2em;
    color: rgb(22, 21, 15);
}

.logo{
    width: 50px;
    height: 40px;
}

.nav_options {
    display: flex;
    margin-right: 150px;
    
}

.nav_options a {
    margin: 0 30px;
    text-decoration: none;
    color: rgb(22, 21, 15);
    transition: 0.3s ease;
    position: relative;
}

.nav_options a::after {
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -6px;
    border-radius: 40px;
    transition: .3s;
    transform-origin: right;
    background-color: chocolate;
    transform: scaleX(0);
     

}

 .nav_options a:hover {
    color: chocolate;
    font-weight: bold;
    font-size: 16px;

}

 .nav_options a:hover::after {
    transform: scaleX(1);
    transform-origin: left;

} 


.content {
    margin: 2%;
}

.wow_section__bio_section {
    display: flex;
    gap: 5%;
    border: solid;
}

.wow_section {
    border: solid;
    width: 70%;
    height: 80%;
}

.bio_section {
    border: solid;
    width: 30%;
    height: 80%;
}



.wow_object_div {
    position: relative;
    width: 258px;
    height: 400px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    margin: auto;
}


@keyframes rotate{
    0%{
        transform: perspective(1000000000000000px) rotateY(1000deg);
    }
    100%{
        transform: perspective(1000000000000000000px) rotateY(360deg);
    }
}


.wow_object_div span {
    position: absolute;
    top: 0;    
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(350px);
}

.wow_object_div span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}



.wow_object_div span:hover img {
    transform: translateY(-15px)scale(1.2);
}